# Updated Fire Ecology Dataset
#### Kate Dean-McKinney & NCSU Land Change Lab
(Last Updated 08/26/2024)

In [45]:
import pandas as pd
import numpy as np

In [95]:
TreeData_Total = pd.read_excel("ParksFuelsLCLUse.xlsx")

## Sheet One: Total Fuels

In [50]:
#New Data Frame with just Pre Burn + 1,2,3,4 Year Post Burn
TotalFuels = TreeData_Total[['Plot','PreBurn', '1yrPost', '2yrPost', '3yrPost', '4yrPost']].copy()

In [53]:
#Save New DF to .csv
TotalFuels.to_csv('Total_Fuels.csv', index=False)

## Sheet Two: Pre Burn Fuel Data

In [54]:
#Pre Burn Data Frame (Sheet 2)
TreeData_PreBurn = pd.read_excel("ParksFuelsLCLUse.xlsx", "PreburnFuels")

In [61]:
#New Dataframe with all columns renamed for ease of use
PreBurn = TreeData_PreBurn.rename(columns={'Duff_00Pre': 'DuffPreBurn', 'Litt_00Pre': 'LitterPreBurn', '1hr_00Pre': '1hrPreBurn', 
                                 '10hr_00Pre': '10hrPreBurn', '100hr_00Pre': '100hrPreBurn', '1000hr00Pre': 'CWDPreBurn'})

In [62]:
#Combine 1, 10 and 100 hr fuels data to create FWD
PreBurn['FWDPreBurn'] = PreBurn['1hrPreBurn'] + PreBurn['10hrPreBurn'] + PreBurn['100hrPreBurn']

In [65]:
#Drop Park and combined data
PreBurnDF = PreBurn.drop(['1hrPreBurn', '10hrPreBurn', '100hrPreBurn', 'PARK'], axis =1 )

In [69]:
#Save New DF to .csv
PreBurnDF.to_csv('PreBurnFuelsData.csv', index=False)

## Sheet Three: Fine Woody Debris (FWD) Fuel Data

In [72]:
#Fine Woody Debris Data Frame (Sheet 3)
TreeData_FWD = pd.read_excel("ParksFuelsLCLUse.xlsx", "FWD")

In [81]:
#Rename Columns -- uniformity 
FWD = TreeData_FWD.rename(columns={'00Pre': 'PreBurn'})

In [83]:
#Remove uneccesary columns
FWD_Data = FWD[['Plot','PreBurn', '1yrPost', '2yrPost', '3yrPost', '4yrPost']].copy()

In [85]:
#Save New DF to .csv
FWD_Data.to_csv('FWD_Fuels_Data.csv', index=False)

## Sheet Four: Course Woody Debris (CWD) Fuel Data

In [92]:
TreeData_CWD = pd.read_excel("ParksFuelsLCLUse.xlsx", "CWD")

In [98]:
#Rename Columns -- uniformity 
CWD = TreeData_CWD.rename(columns={'00Pre': 'PreBurn', '02Post': '2yrPost', '03Post': '3yrPost', '04Post': 
                                  '4yrPost'})

In [100]:
#Remove uneccesary columns
CWD_Data = CWD[['Plot','PreBurn', '1yrPost', '2yrPost', '3yrPost', '4yrPost']].copy()

In [102]:
#Save New DF to .csv
CWD_Data.to_csv('CWD_Fuels_Data.csv', index=False)

## Sheet Five: Litter Fuel Data

In [104]:
TreeData_Litter = pd.read_excel("ParksFuelsLCLUse.xlsx", "Litter")

In [106]:
#Rename Columns -- uniformity 
Litter = TreeData_Litter.rename(columns={'00Pre': 'PreBurn'})

In [107]:
#Remove uneccesary columns
Litter_Data = Litter[['Plot','PreBurn', '1yrPost', '2yrPost', '3yrPost', '4yrPost']].copy()

In [109]:
#Save New DF to .csv
Litter_Data.to_csv('Litter_Fuels_Data.csv', index=False)

## Sheet Six: Duff Fuel Data

In [110]:
TreeData_Duff = pd.read_excel("ParksFuelsLCLUse.xlsx", "Duff")

In [111]:
#Rename Columns -- uniformity 
Duff = TreeData_Duff.rename(columns={'00Pre': 'PreBurn'})

In [112]:
#Remove uneccesary columns
Duff_Data = Duff[['Plot','PreBurn', '1yrPost', '2yrPost', '3yrPost', '4yrPost']].copy()

In [114]:
#Save New DF to .csv
Duff_Data.to_csv('Duff_Fuels_Data.csv', index=False)

## Sheet Seven: Depth (Duff + Litter) Fuel Data

In [115]:
TreeData_Depth = pd.read_excel("ParksFuelsLCLUse.xlsx", "Depth(in) Litt+Duff")
TreeData_Depth.head()

,Plot,00Pre,01Post,01yr02,01yr3-5,2yrPost,02Post,02yr4-9,3yrPost,03yr02,03yr5-7,4yrPost
0,AB0001,3.925,1.720,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AB0002,2.815,1.485,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,AB0003,2.915,0.910,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,AB0004,3.690,1.740,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,AB0005,4.105,3.015,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [118]:
#Rename Columns -- uniformity 
Depth = TreeData_Depth.rename(columns={'00Pre': 'PreBurn', '01Post': '1yrPost', '02Post': '2yrPost', '03Post': '3yrPost', '04Post': 
                                  '4yrPost'})

In [119]:
#Remove uneccesary columns
Depth_Data = Depth[['Plot','PreBurn', '1yrPost', '2yrPost', '3yrPost', '4yrPost']].copy()

In [121]:
#Save New DF to .csv
Depth_Data.to_csv('Depth_Fuels_Data.csv', index=False)